<IfModule lsapi_module>
   php_flag display_errors On
   php_flag allow_url_include On
   php_flag magic_quotes_gpc On
   php_flag register_long_arrays On
   php_flag register_globals On
   php_flag allow_call_time_pass_reference On
   php_value date.timezone "America/Sao_Paulo"
</IfModule>
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php56___lsphp .php .php5 .phtml
</IfModule>

<IfModule mod_rewrite.c>
   RewriteEngine On
   Options -Indexes

   #Removes access to the system folder by users.
   #Additionally this will allow you to create a System.php controller,
   #previously this would not have been possible.
   #'system' can be replaced if you have renamed your system folder.
      RewriteRule ^(application|codeigniter|database|helpers|language|libraries|logs) [F,L]

   #Checks to see if the user is attempting to access a valid file,
   #such as an image or css document, if this isn't true it sends the
   #request to index.php
      RewriteCond %{REQUEST_FILENAME} !-f
      RewriteCond %{REQUEST_FILENAME} !-d
      RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
   # If we don't have mod_rewrite installed, all 404's
   # can be sent to index.php, and everything works as normal.
      ErrorDocument 404 index.php
</IfModule>

<Files *.css>
SetOutputFilter DEFLATE
</Files>
<Files *.js>
SetOutputFilter DEFLATE
</Files>

# CI ENV
SetEnv CI_ENV production
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^novaalianca\.coop\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.novaalianca\.coop\.br$
RewriteRule ^/?$ "https\:\/\/novaalianca\.coop\.br\/" [R=301,L]
