
/* phone */
html { scroll-behavior: smooth; }
body { background-color: #ffffff; }
body.site:before { background: transparent none no-repeat scroll left top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
.site-lang-pt .wb_cont_inner { width: 360px; height: 100%; }
.site-lang-pt .wb_cont_bg { width: 360px; margin-left: -180px; }
.site-lang-pt .root { min-height: 100%; height: auto; }
#wb_element_instance22_0 p:last-child { margin-bottom: 0; }
#wb_element_instance22_0 { opacity: 1; width: auto; height: auto; min-width: 24px; min-height: 24px; max-width: 100%; margin: 0px 0px 30px 0px; flex: 1 1 auto; }
#wb_element_instance23_0 p:last-child { margin-bottom: 0; }
#wb_element_instance23_0 { opacity: 1; width: auto; height: auto; min-width: 24px; min-height: 24px; max-width: 100%; margin: 0px 0px 100px 0px; flex: 0 0 auto; }
#wb_element_instance24_0 { opacity: 1; box-sizing: border-box; width: 40px; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance24_0 img { border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border: 0px none #d1d1d1; width: 100%; height: auto; }
#wb_element_instance24_0 svg { border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border: 0px none #d1d1d1; }
#wb_element_instance21_0 { width: 100%; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance21_0 > .wb_content { border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance20_0 > .wb_content { width: 100%; height: 100%; }
#wb_element_instance20_0 { width: 100%; height: 100%; max-width: 100%; background: transparent; touch-action: manipulation; }
#wb_element_instance20_0 .wb-picture-caption { background-color: rgba(255, 245, 255, 0.79); }
#wb_element_instance20_0_pswp .wb-picture-caption { background-color: rgba(255, 245, 255, 0.79); }
#wb_element_instance20_0 .wb-lightbox-title { font-style: normal normal ; font: normal normal 35px 'Playfair Display',Arial,serif; font-family: 'Playfair Display',Arial,serif; color: #c70050; text-decoration: none; text-align: center; text-transform: none; }
#wb_element_instance20_0_pswp .wb-lightbox-title { font-style: normal normal ; font: normal normal 35px 'Playfair Display',Arial,serif; font-family: 'Playfair Display',Arial,serif; color: #c70050; text-decoration: none; text-align: center; text-transform: none; }
#wb_element_instance20_0 .wb-lightbox-description { font-style: normal normal ; font: normal normal 18px 'Cormorant Garamond',Arial,serif; font-family: 'Cormorant Garamond',Arial,serif; color: #383838; text-decoration: none; text-align: center; text-transform: none; }
#wb_element_instance20_0_pswp .wb-lightbox-description { font-style: normal normal ; font: normal normal 18px 'Cormorant Garamond',Arial,serif; font-family: 'Cormorant Garamond',Arial,serif; color: #383838; text-decoration: none; text-align: center; text-transform: none; }
#wb_element_instance19_0 { width: 100%; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance19_0 > .wb_content { border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; min-width: 20px; min-height: 20px; padding: 150px 20px 70px 20px; background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; justify-items: center; align-items: center; justify-content: space-around; align-content: flex-start; flex-wrap: nowrap; z-index: 1; }
#wb_header_1 { width: 100%; height: auto; min-height: 120px; max-width: 100%; flex: 0 0 auto; }
#wb_header_1 > .wb_content { border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance4_1 p:last-child { margin-bottom: 0; }
#wb_element_instance4_1 { opacity: 1; width: auto; height: auto; min-width: 24px; min-height: 24px; max-width: 700px; margin: 0px 0px 30px 0px; flex: 1 1 auto; }
#wb_element_instance3_1 { width: 100%; height: auto; min-height: 100px; max-width: 740px; flex: 1 1 auto; }
#wb_element_instance3_1 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 20px 0px 20px; background: transparent none repeat scroll left top; background-size: auto auto; justify-items: flex-start; align-items: flex-start; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance2_1 { width: 100%; height: auto; min-height: 100px; max-width: 100%; flex: 1 1 auto; }
#wb_element_instance2_1 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; background: rgba(255, 255, 255, 0.5) none repeat scroll left top; background-size: auto auto; opacity: 1; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance5_1 > .wb-elm-line { margin: -1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #b8b8b8;; }
#wb_element_instance5_1 > .wb_content { width: 100%; height: 100%; }
#wb_element_instance5_1 { width: 100%; height: 1px; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance6_1 > .wb-elm-line { margin: -1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #b8b8b8;; }
#wb_element_instance6_1 > .wb_content { width: 100%; height: 100%; }
#wb_element_instance6_1 { width: 100%; height: 1px; max-width: 100%; margin: 0px 0px 30px 0px; flex: 0 0 auto; }
#wb_element_instance1_1 { width: 100%; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance1_1 > .wb_content { border: 0px solid #000; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; justify-items: center; align-items: center; justify-content: center; align-content: center; flex-wrap: wrap; }
#wb_main_1 { width: 100%; height: auto; min-height: 540px; max-width: 100%; flex: 0 0 auto; }
#wb_main_1 > .wb_content { border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance28_0 { opacity: 1; box-sizing: border-box; width: 30px; height: 30px; max-width: 100%; margin: 0px 10px 0px 0px; flex: 0 0 auto; }
#wb_element_instance28_0 img { border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border: 0px none #d1d1d1; }
#wb_element_instance28_0 svg { border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border: 0px none #d1d1d1; width: 100%; height: auto; }
#wb_element_instance29_0 p:last-child { margin-bottom: 0; }
#wb_element_instance29_0 { opacity: 1; width: auto; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance27_0 { width: auto; height: auto; max-width: 100%; margin: 10px 0px 10px 0px; flex: 0 0 auto; }
#wb_element_instance27_0 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; background: transparent none repeat scroll left top; background-size: auto auto; justify-items: center; align-items: center; justify-content: center; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance31_0 { opacity: 1; box-sizing: border-box; width: 30px; height: 30px; max-width: 100%; margin: 0px 10px 0px 0px; flex: 0 0 auto; }
#wb_element_instance31_0 img { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; }
#wb_element_instance31_0 svg { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; width: 100%; height: auto; }
#wb_element_instance32_0 { opacity: 1; box-sizing: border-box; width: 30px; height: 30px; max-width: 100%; margin: 0px 10px 0px 10px; flex: 0 0 auto; }
#wb_element_instance32_0 img { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; }
#wb_element_instance32_0 svg { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; width: 100%; height: auto; }
#wb_element_instance33_0 { opacity: 1; box-sizing: border-box; width: 30px; height: 30px; max-width: 100%; margin: 0px 10px 0px 10px; flex: 0 0 auto; }
#wb_element_instance33_0 img { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; }
#wb_element_instance33_0 svg { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; width: 100%; height: auto; }
#wb_element_instance34_0 { opacity: 1; box-sizing: border-box; width: 30px; height: 30px; max-width: 100%; margin: 0px 0px 0px 10px; flex: 0 0 auto; }
#wb_element_instance34_0 img { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; }
#wb_element_instance34_0 svg { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; width: 100%; height: auto; }
#wb_element_instance30_0 { width: auto; height: auto; max-width: 100%; margin: 10px 0px 10px 0px; flex: 0 0 auto; }
#wb_element_instance30_0 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; background: transparent none repeat scroll left top; background-size: auto auto; justify-items: center; align-items: center; justify-content: center; align-content: space-around; flex-wrap: nowrap; }
#wb_element_instance26_0 { width: 100%; height: auto; max-width: 1200px; flex: 0 0 auto; }
#wb_element_instance26_0 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; background: transparent none repeat scroll left top; background-size: auto auto; justify-items: stretch; align-items: center; justify-content: space-between; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance25_0 { width: 100%; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance25_0 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 20px 20px 20px 20px; background: #3e3e3e none repeat scroll left top; background-size: auto auto; opacity: 1; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_footer_1 { width: 100%; height: auto; min-height: 120px; max-width: 100%; flex: 0 0 auto; }
#wb_footer_1 > .wb_content { border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_footer_c_0 > .wb_content { width: 100%; height: 100%; }
#wb_footer_c_0 { width: 0px; height: 0px; max-width: 100%; flex: 0 0 auto; }


/* tablet */
@media (min-width: 768px) {
	#wb_element_instance22_0 { margin: 0px 0px 30px 0px; }
	#wb_element_instance23_0 { margin: 0px 0px 100px 0px; }
	#wb_element_instance4_1 { margin: 0px 0px 30px 0px; }
	#wb_element_instance6_1 { margin: 0px 0px 30px 0px; }
	#wb_element_instance28_0 { margin: 0px 10px 0px 0px; }
	#wb_element_instance27_0 { margin: 10px 0px 10px 0px; }
	#wb_element_instance31_0 { margin: 0px 10px 0px 0px; }
	#wb_element_instance32_0 { margin: 0px 10px 0px 10px; }
	#wb_element_instance33_0 { margin: 0px 10px 0px 10px; }
	#wb_element_instance34_0 { margin: 0px 0px 0px 10px; }
	#wb_element_instance30_0 { margin: 10px 0px 10px 0px; }
}

/* desktop */
@media (min-width: 992px) {
	#wb_element_instance22_0 { margin: 0px 0px 30px 0px; }
	#wb_element_instance23_0 { margin: 0px 0px 100px 0px; }
	#wb_element_instance4_1 { margin: 0px 0px 30px 0px; }
	#wb_element_instance6_1 { margin: 0px 0px 30px 0px; }
	#wb_element_instance28_0 { margin: 0px 10px 0px 0px; }
	#wb_element_instance27_0 { margin: 10px 0px 10px 0px; }
	#wb_element_instance31_0 { margin: 0px 10px 0px 0px; }
	#wb_element_instance32_0 { margin: 0px 10px 0px 10px; }
	#wb_element_instance33_0 { margin: 0px 10px 0px 10px; }
	#wb_element_instance34_0 { margin: 0px 0px 0px 10px; }
	#wb_element_instance30_0 { margin: 10px 0px 10px 0px; }
}

/* tv */
@media (min-width: 1200px) {
	#wb_element_instance22_0 { margin: 0px 0px 30px 0px; }
	#wb_element_instance23_0 { margin: 0px 0px 100px 0px; }
	#wb_element_instance4_1 { margin: 0px 0px 30px 0px; }
	#wb_element_instance6_1 { margin: 0px 0px 30px 0px; }
	#wb_element_instance28_0 { margin: 0px 10px 0px 0px; }
	#wb_element_instance27_0 { margin: 10px 0px 10px 0px; }
	#wb_element_instance31_0 { margin: 0px 10px 0px 0px; }
	#wb_element_instance32_0 { margin: 0px 10px 0px 10px; }
	#wb_element_instance33_0 { margin: 0px 10px 0px 10px; }
	#wb_element_instance34_0 { margin: 0px 0px 0px 10px; }
	#wb_element_instance30_0 { margin: 10px 0px 10px 0px; }
}

/* desktop_and_smaller */
@media (max-width: 1199px) {
}

/* tablet_and_smaller */
@media (max-width: 991px) {
}

/* phone_only */
@media (max-width: 767px) {
	#wb_element_instance19_0 > .wb_content { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; flex-direction: column; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
	#wb_element_instance21_0 { width: auto; margin-left: 0; margin-right: 0; }
	#wb_element_instance1_1 > .wb_content { flex-direction: column; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
	#wb_element_instance2_1 { width: auto; margin-left: 0; margin-right: 0; }
	#wb_element_instance5_1 { width: 100%; margin-left: 0; margin-right: 0; }
	#wb_element_instance6_1 { width: 100%; margin-left: 0; margin-right: 0; }
	#wb_element_instance26_0 > .wb_content { background: transparent none repeat scroll left top; background-size: auto auto; flex-direction: column; justify-items: flex-start; align-items: stretch; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
	#wb_element_instance27_0 { width: 100%; margin-left: 0; margin-right: 0; }
	#wb_element_instance30_0 { width: 100%; margin-left: 0; margin-right: 0; }
}

/* tablet_only */
@media (min-width: 768px) and (max-width: 991px) {
}

/* desktop_only */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* phone_last */

