body {	
	background: url(../images/corvermelho/background.jpg) repeat-x top;	
}

.cabecalho {
	background: url(../images/corvermelho/cabecalho.jpg) no-repeat top;
	height: 51px;
}

.menu {
	color: #FF5353;
}

.menupopup {
    color: white;
    background-color: #BB0000;
}

.menupopupbotao {
    color: white;
    margin-right: 5px;
    border-radius: 2px;
    background-color: #BB0000;
    border: none;
    border-radius: 2px;
    height: 30px;
    width: 90px;
    cursor: pointer;
}

.curriculo-online {
	background: url(../images/corvermelho/curriculo-online.jpg) no-repeat top;
	height: 22px;
}

.titulo-login {
	background: url(../images/corvermelho/titulos/login.jpg) no-repeat;							
}

.titulo-cadastrar{
	background: url(../images/corvermelho/titulos/novo-usuario.jpg) no-repeat;
}

.titulo-alterar-senha {
	background: url(../images/corvermelho/titulos/alterar-senha.jpg) no-repeat;	
}

.titulo-Solicitar-Exclusao {
    background: url(../images/corvermelho/titulos/SolicitarExclusao.jpg) no-repeat;
}

.titulo-vagas-disponiveis {
	background: url(../images/corvermelho/titulos/vagas-disponiveis.jpg) no-repeat;	
}
.titulo-detalhes-vaga{
	background: url(../images/corvermelho/titulos/detalhes-vaga.jpg) no-repeat;
}
.titulo-dados-complementares {
	background: url(../images/corvermelho/titulos/dados-complementares.jpg) no-repeat;	
}

.titulo-requisitos {
	background: url(../images/corvermelho/titulos/requisitos.jpg) no-repeat;	
}

.titulo-vagas-concorridas {
	background: url(../images/corvermelho/titulos/vagas-concorridas.jpg) no-repeat;	
}

.titulo-cpf {
	background: url(../images/corvermelho/titulos/cpf.jpg) no-repeat;	
}

.titulo-informacoes-pessoais {
	background: url(../images/corvermelho/titulos/informacoes-pessoais.jpg) no-repeat;	
}

.titulo-dados-de-contato {
	background: url(../images/corvermelho/titulos/dados-de-contato.jpg) no-repeat;	
}

.titulo-documentos {
	background: url(../images/corvermelho/titulos/documentos.jpg) no-repeat;	
}

.titulo-informacoes-profissionais {
	background: url(../images/corvermelho/titulos/informacoes-profissionais.jpg) no-repeat;	
}

.titulo-informacoes-academicas {
	background: url(../images/corvermelho/titulos/informacoes-academicas.jpg) no-repeat;	
}

.titulo-historico-profissional {
	background: url(../images/corvermelho/titulos/historico-profissional.jpg) no-repeat;	
}

.titulo-pesquisar-vagas {
	background: url(../images/corvermelho/titulos/pesquisar-vagas.jpg) no-repeat;	
}

.titulo-interesses-profissionais {
	background: url(../images/corvermelho/titulos/interesses-profissionais.jpg) no-repeat;	
}

.titulo-idiomas {
	background: url(../images/corvermelho/titulos/idiomas.jpg) no-repeat;	
}

.titulo-palavras-chaves {
	background: url(../images/corvermelho/titulos/palavras-chaves.jpg) no-repeat;	
}

.campo-login {
	border: 1px solid #BB0000; padding: 3px; font-size: 13px;
}

.campo-login:focus {
	border: 1px dashed #BB0000; background: #FFE8E8;
}

.bem-vindo {
	background: url(../images/corvermelho/bem-vindo.jpg) no-repeat top left;
}

.campo {
	border: 1px solid #BB0000; padding: 2px; font-size: 11px;
}

.campo:focus {
	background: #FFE8E8;
}

.asterisco {
	color: #BB0000; font-size: 12px; padding-left: 5px;
}

.botao-pagina-inicial {
	width: 100px; height: 20px; cursor: pointer; border: none;
	background: url(../images/corvermelho/botoes/pagina-inicial.jpg) no-repeat;
}

.botao-avancar {
	width: 80px; height: 20px; cursor: pointer; margin-top: 15px;
	background: url(../images/corvermelho/botoes/avancar.jpg) no-repeat; border: none; margin-right: 10px;
}

.botao-voltar {
    width: 80px;
    float: right;
    height: 20px;
    cursor: pointer;
    margin-top: 15px;
    background: url(../images/corvermelho/botoes/voltar.jpg) no-repeat;
    border: none;
    margin-right: 10px;
}

.botao-concluir {
	width: 80px; height: 20px; cursor: pointer; margin-top: 15px;
	background: url(../images/corvermelho/botoes/concluir.jpg) no-repeat; border: none;
}

.botao-cancelar {
	float: left; width: 80px; height: 20px; cursor: pointer; margin-top: 15px;
	background: url(../images/corvermelho/botoes/cancelar.jpg) no-repeat; border: none;
}

.botao-filtrar {
	float: right; width: 80px; height: 20px; cursor: pointer; margin-top: 15px;
	background: url(../images/corvermelho/botoes/filtrar.jpg) no-repeat; border: none;
}

.botao-quero-me-candidatar {
	width: 222px; height: 20px; cursor: pointer;
	background: url(../images/corvermelho/botoes/quero-me-candidatar.jpg) no-repeat; border: none;
}

.botao-adicionar-curso {
	width: 123px; height: 20px; cursor: pointer; margin-top: 15px; margin-bottom: 10px;
	background: url(../images/corvermelho/botoes/adicionar-curso.jpg) no-repeat; border: none;
}

.botao-editar-curso {
	width: 85px; height: 20px; cursor: pointer; margin-top: 15px; margin-bottom: 10px;
	background: url(../images/corvermelho/botoes/salvar.jpg) no-repeat; border: none;
}

.botao-cancelar-curso {
	width: 85px; height: 20px; cursor: pointer; margin-top: 15px; margin-bottom: 10px;
	background: url(../images/corvermelho/botoes/cancelar.jpg) no-repeat; border: none;
}

.botao-adicionar-empresa {
	width: 220px; height: 20px; cursor: pointer; margin-top: 10px; margin-bottom: 10px;
	background: url(../images/corvermelho/botoes/adicionar-experiencia-profissional.jpg) no-repeat; border: none;
}

.botao-editar-empresa {
	width: 85px; height: 20px; cursor: pointer; margin-top: 10px; margin-bottom: 10px;
	background: url(../images/corvermelho/botoes/salvar.jpg) no-repeat; border: none;
}

.botao-cancelar-empresa {
	width: 85px; height: 20px; cursor: pointer; margin-top: 10px; margin-bottom: 10px;
	background: url(../images/corvermelho/botoes/cancelar.jpg) no-repeat; border: none;
}

.botao-fazer-nova-pesquisa {
	float: right; width: 160px; height: 20px; cursor: pointer; margin-top: 15px;
	background: url(../images/corvermelho/botoes/fazer-nova-pesquisa.jpg) no-repeat; border: none;
}

.botao-excluir-candidato-desta-vaga {
	float: right; width: 205px; height: 20px; cursor: pointer; margin-top: 15px;
	background: url(../images/corvermelho/botoes/excluir-candidato-desta-vaga.jpg) no-repeat; border: none; 
}

.vagas-disponiveis th{
	background: #BB0000; color: white;
}

.vagas-disponiveis-dados-tabela td{
	color: #BB0000;
}

.informacoes-academicas th{
	background: #BB0000;
}

.informacoes-academicas td{
	color: #BB0000;
}

.informacoes-academicas a{
	color: #BB0000;
}

.borda-tabela {
	border: 1px solid #BB0000;
}

.seta {
	background: url(../images/corvermelho/seta.jpg) no-repeat;
}

.migalha-ativa {
	color: #BB0000;
}

.migalha-align:hover {
	color: #BB0000;
	cursor: pointer;
}

.error-msg {
	color: #BB0000;
}

fieldset legend {
	color: #BB0000;
}

.botao-salvar {
	float: right; width: 80px; height: 20px; cursor: pointer; margin-top: 15px;
	background: url(../images/corvermelho/botoes/salvar.jpg) no-repeat; border: none;
}

.titulo-informacoes-adicionais{
	background: url(../images/corvermelho/titulos/informacoes-adicionais.jpg) no-repeat;
}