body {	
	background-attachment: scroll; font-family: Arial; font-size: 11px;
	overflow: auto;		
}

.enviar {
	height: 17px; width: 147px; background: url('../images/enviar.png') no-repeat;
	border: none; cursor: pointer; margin-top: 10px; margin-right: 10px;
}

.content {
	margin-left: 30px; margin-right: 29px;
	background: #FFFFFF url('../images/back-content.jpg') no-repeat bottom;
}

.content-interna {
	margin-left: 30px; margin-right: 29px;
	background: #FFFFFF;
}

.logotipo {
    width: 171px;
    float: left;
    height: 40px;
    margin-top: 8px;
    background: url(../images/logotipo.jpg) no-repeat center center;
}

.menu {
	width: 410px; float: left; margin-top: 15px; font-size: 11px;
}

.menu a {
	color: white; text-decoration: none; 
}

.menu a:hover {
	text-decoration: underline;
}

.rodape {
	padding: 20px; margin-right: 20px; background: url('../images/metadados.jpg') no-repeat right center;
}

.bem-vindo {
	width: 320px; margin-left: 40px; margin-right: 10px; float: left;
	padding-top: 30px;
}

.vagas-concorridas {
	width: 371px; float: left; margin-top: 20px;
}

.vagas-disponiveis {
	width: 371px; float: left;
}

.box-top-vagas-disponiveis {
	width: 371px; height: 8px;	
	background: url('../images/box-top-vagas-disponiveis.jpg') no-repeat center;
}

.box-bottom-vagas-disponiveis {
	width: 371px; height: 8px;	
	background: url('../images/box-bottom-vagas-disponiveis.jpg') no-repeat center;
}

.box-middle-vagas-disponiveis {
	width: 371px;	
	background: url('../images/box-middle-vagas-disponiveis.jpg') repeat-y center;
}

.box-top {
	width: 701px; height: 8px;	
	background: url('../images/box-top.jpg') no-repeat center;
}

.box-bottom {
	width: 701px; height: 8px;	
	background: url('../images/box-bottom.jpg') no-repeat center;
}

.box-middle {
	width: 701px;	
	background: url('../images/box-middle.jpg') repeat-y center;
}

.box-middle-content {
	padding: 10px 20px 10px 20px;	
}

.box-middle-content-cpf {
	padding: 10px 20px 0px 20px;
}

.box-cadastrar-atualizar {
	width: 312px; height: 87px;
	background: #FFFFFF url('../images/box-cadastrar-atualizar.jpg') no-repeat;
}

.box-cadastrar-atualizar-content {
	padding-left: 120px; padding-top: 25px;	
}

.float350 {
	width: 350px; float: left;
}

.div-box {
	margin-top: 20px;
}

.text-exclusao {
    margin-left: 30px;
}

.label-campos {
	width: 110px; float: left; text-align: right; margin-right: 5px;
}

.label-campos2 {
	width: 145px; float: left; text-align: right; margin-right: 5px;
}

.label-campos3 {
	width: 200px; float: left; text-align: right; margin-right: 5px;
}

.listagem-campos {
	margin-bottom: 10px; clear: both; height: 100%;
}

.campo-disabled {
	border: 1px solid #A0A0A0; padding: 2px; font-size: 11px; background: #D3D3D3;
}	

.home {
	height: 550px; padding-top: 30px;
}

textarea {
	font-family: Arial;
}

.alinhamento {
	margin: 0px 30px 0px 30px; padding-top: 30px;
}

.vagas-disponiveis th{
	padding: 3px;
}

.vagas-disponiveis-dados-tabela td{
	border-bottom: 1px solid white; padding: 3px;
}

.vagas-disponiveis-dados {
	height: 245px; overflow: auto;
}

.informacoes-academicas {
	margin: 0px;	
}

.informacoes-academicas th{
	color: white; font-weight: normal;
	padding: 5px; text-align: left; border: 1px solid #F5F5F5; border-collapse: collapse;
}

.informacoes-academicas td{
	padding: 5px 5px 5px 5px; vertical-align: middle;
	background: #FCFCFC;
	border: 1px solid #FFFFFF; border-collapse: collapse;
}

.borda-tabela {
	padding: 2px;
	background: white;
}

.detalhe-vaga-box {
	padding: 2px; border: 1px solid #E0E0E0;
	background: white; margin-top: 20px;
}

.vaga-descricao {
	float: left; width: 325px;
}

.vaga-candidatar {
	float: left; width: 325px; text-align: center; margin-top: 30px;
}

.vaga-titulo {
	font-size: 16px; margin-bottom: 10px;
}

.vaga-tabela {
	margin: 10px 0px 10px 0px;
}

.vaga-tabela th{
	width: 160px; color: #9A9A9A; text-align: right; padding: 7px;
}

.vaga-tabela td{
	padding: 5px; text-align: left;
}

.vaga-tabela tr{
	margin-bottom: 5px;
}

.check {
	width: 165px; text-align: left; float: left; margin-bottom: 15px;
}

.migalha {
	background: url('../images/back-migalha.jpg') no-repeat center center; height: 26px;
	font-size: 11px; text-transform: uppercase; margin-bottom: 15px; color: #797979; padding-left: 10px;
}

.migalha-ativa {
	font-size: 11px; font-weight: bold;
	text-decoration: underline;
}

.migalha-align {
	float: left; margin-top: 6px;
}

.seta {
	width: 6px; height: 8px; float: left; margin: 9px 4px 0px 4px;
}

fieldset {
	border: 1px dotted #CCCCCC; padding: 7px;
}

fieldset legend{
	font-size: 14px; padding-left: 10px; padding-right: 10px;
}

.titulo-alterar-senha {
	margin-left: 195px;
}

.titulo-Solicitar-Exclusao {
    margin-left: 195px;
}

.botao-incluir-anexo {
	width: 20px; 
    height:15px; 
    background: url(../images/incluir.jpg) no-repeat; 
    border: none; 
    cursor: pointer;
    padding-bottom: 0px;
    padding-top: 10px;
}

.botao-excluir-anexo {
	width: 20px; 
    height:15px; 
    background: url(../images/excluir.jpg) no-repeat; 
    border: none; 
    cursor: pointer; 
    padding-bottom: 0px;
    padding-top: 10px;
}

.botao-abrir-anexo {
	width: 20px; 
    height:15px; 
    background: url(../images/baixar.jpg) no-repeat; 
    border: none; 
    cursor: pointer; 
    padding-bottom: 0px;
    padding-top: 10px;
}

#my-file { display:none; }